<p id="notice"><%= notice %></p>

<h1>Listing Account Lists</h1>

<table>
  <thead>
    <tr>
      <th>Gelirlerim</th>
      <th>Giderlerim</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @account_lists.each do |account_list| %>
      <tr>
        <td><%= account_list.gelirlerim %></td>
        <td><%= account_list.giderlerim %></td>
        <td><%= link_to 'Show', account_list %></td>
        <td><%= link_to 'Edit', edit_account_list_path(account_list) %></td>
        <td><%= link_to 'Destroy', account_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Account list', new_account_list_path %>
